body {
    padding:0%;/*was 2%*/
    /*background-color: aqua;*/
  }

  #resistorimg{
    border: 0px solid black;
  }


  .image2 {/* band1 */
      /*display:inline;*/
      display: inline;
      position: absolute;
      left: -43px;
  }
  .image3 {/* band2 */
      display: inline;
      position: absolute;
      left: -43px;
  }
  .image4 {/* band3 */
      display: inline;
      position: absolute;
      left: -43px;
  }
  .image5 {/* band4 */
      display: inline;
      position: absolute;
      left: -43px;
  }

  
  a, a:hover
        { outline: none;
          text-decoration: underline;
          }
        a:hover
        { text-decoration: none;
          color: #5D5D5D;}
        a:visited
        {color:blue}
  
  select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  
  select option[value="Black"] {
    background: rgb(0, 0, 0);
    color:white
  }
  
  select option[value="Brown"] {
    background: rgb(150,75,0);
    color:white
  }
  
  select option[value="Red"] {
    background: rgb(255, 0, 0);
    color:white
  }
  
  select option[value="Orange"] {
    background: rgb(255, 165, 0);
    color:white
  }
  
  select option[value="Yellow"] {
    background: rgb(255, 255, 0);
    color:black
  }
  
  select option[value="Green"] {
    background: rgb(0, 255, 0);
    color:black
  }
  
  select option[value="Blue"] {
    background: rgb(0, 0,255);
    color:white
  }
  
  select option[value="Violet"] {
    background: rgb(127,0,255);
    color:white
  }
  
  select option[value="Grey"] {
    background: rgb(127,127,127);
    color:white
  }
  
  select option[value="White"] {
    background: rgb(255,255,255);
    color:black
  }
  
  select option[value="Gold"] {
    background: rgb(218,165,32);
    color:black
  }
  
  select option[value="Silver"] {
    background: rgb(192,192,192);
    color:black
  }

#id_resistancevalue{
  width: 50%;
}