{% extends 'rcb/base-rcb.html' %}

{% load static %}

{% block title %}
Resistor Color Bands - 4 band Resistor Color Code Converter and Calculator example
{% endblock %}

{% block metatags%}
    <meta name="description" content="a free open source converter using Django's web framework along with Javascript front and backend.">

{% endblock %}


{% block favicon %}
    <!-- Base Favicon -->
    <link rel="icon" id="favicon" href="{% static 'projects/images/icons/favicon.ico' %}" type="image/x-icon">

    <!-- Placeholder for JavaScript -->
    <script nonce="{{ request.csp_nonce }}">
      // Example: Change favicon for the home page
      if (window.location.pathname === '/gpsconverter/') {
          document.getElementById('favicon').setAttribute('href', "{% static 'projects/images/icons/gpsconverterfavicon.ico' %}");
      }
      // Add similar conditions for other pages as needed
    </script>
  
{% endblock %}


{%  block content %}



<div class="container">

<!-- Container for dynamically created navigation bar -->
<div class = "topnav" id="navbar-container"></div>



  <h1>Resistor Color Bands</h1>
  <!-- First Row -->
  <div class="row">
      <div class="col-sm-6">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text"><!-- Your form starts here -->
                    <table id="table1">
                      <form action="" enctype ='multipart/form-data' method = "post" novalidate>
                          {% csrf_token %}
                  
                              <tr>
                                  <th id="firstbandth"><label for="id_firstband">First Band:</label></th>
                                  <td>
                  
                                    <select name="firstband" id="id_firstband" onchange="changeColor()">
                  
                  
                  
                                <option value="Brown"
                                {% if band1brown %}
                                selected
                                {%endif%}>Brown      1</option>
                  
                                <option value="Red"
                                {% if band1red %}
                                selected
                                {%endif%}>Red          2</option>
                  
                                <option value="Orange"
                                {% if band1orange %}
                                selected
                                {%endif%}>Orange    3</option>
                  
                                <option value="Yellow"
                                {% if band1yellow %}
                                selected
                                {%endif%}>Yellow    4</option>
                  
                                <option value="Green"
                                {% if band1green %}
                                selected
                                {%endif%}>Green      5</option>
                  
                                <option value="Blue"
                                {% if band1blue%}
                                selected
                                {%endif%}>Blue        6</option>
                  
                                <option value="Violet"
                                {% if band1violet %}
                                selected
                                {%endif%}>Violet    7</option>
                  
                                <option value="Grey"
                                {% if band1grey %}
                                selected
                                {%endif%}>Grey        8</option>
                  
                                <option value="White"
                                {% if band1white%}
                                selected
                                {%endif%}>White      9</option>
                  
                              </select>
                  
                  
                                  </td>
                                </tr>
                  
                                <tr>
                                  <th id="secondbandth"><label for="id_secondband">Second Band:</label></th>
                                  <td id="secondbandtd">
                  
                                    <select onchange="changeColor()" name="secondband" id="id_secondband">
                                <option value="Black"
                                {% if band2black %}
                                selected
                                {%endif%}>Black      0</option>
                  
                                <option value="Brown"
                                {% if band2brown %}
                                selected
                                {%endif%}>Brown      1</option>
                  
                                <option value="Red"
                                {% if band2red %}
                                selected
                                {%endif%}>Red          2</option>
                  
                                <option value="Orange"
                                {% if band2orange %}
                                selected
                                {%endif%}>Orange    3</option>
                  
                                <option value="Yellow"
                                {% if band2yellow %}
                                selected
                                {%endif%}>Yellow    4</option>
                  
                                <option value="Green"
                                {% if band2green %}
                                selected
                                {%endif%}>Green      5</option>
                  
                                <option value="Blue"
                                {% if band2blue %}
                                selected
                                {%endif%}>Blue        6</option>
                  
                                <option value="Violet"
                                {% if band2violet %}
                                selected
                                {%endif%}>Violet    7</option>
                  
                                <option value="Grey"
                                {% if band2grey %}
                                selected
                                {%endif%}>Grey        8</option>
                  
                                <option value="White"
                                {% if band2white %}
                                selected
                                {%endif%}>White      9</option>
                  
                              </select>
                  
                  
                                  </td>
                                </tr>
                  
                                <tr>
                                  <th id="thirdbandth"><label for="id_thirdband">Multiplier:</label></th>
                                  <td id="thirdbandtd">
                  
                                    <select onchange="changeColor()" name="thirdband" id="id_thirdband">
                                <option value="Black"
                                {% if band3black %}
                                selected
                                {%endif%}>Black      x1Ω</option>
                  
                                <option value="Brown"
                                {% if band3brown %}
                                selected
                                {%endif%}>Brown      x10Ω</option>
                  
                                <option value="Red"
                                {% if band3red %}
                                selected
                                {%endif%}>Red          x100Ω</option>
                  
                                <option value="Orange"
                                {% if band3orange %}
                                selected
                                {%endif%}>Orange    x1kΩ</option>
                  
                                <option value="Yellow"
                                {% if band3yellow %}
                                selected
                                {%endif%}>Yellow    x10kΩ</option>
                  
                                <option value="Green"
                                {% if band3green %}
                                selected
                                {%endif%}>Green      x100kΩ</option>
                  
                                <option value="Blue"
                                {% if band3blue %}
                                selected
                                {%endif%}>Blue        x1MΩ</option>
                  
                                <option value="Violet"
                                {% if band3violet %}
                                selected
                                {%endif%}>Violet    x10MΩ</option>
                  
                                <option value="Grey"
                                {% if band3grey %}
                                selected
                                {%endif%}>Grey        x100MΩ</option>
                  
                                <option value="White"
                                {% if band3white%}
                                selected
                                {%endif%}>White      x1GΩ</option>
                  
                                <option value="Gold"
                                {% if band3gold%}
                                selected
                                {%endif%}>Gold      x0.1Ω</option>
                  
                                <option value="Silver"
                                {% if band3silver%}
                                selected
                                {%endif%}>Silver      x.01Ω</option>
                  
                              </select>
                  
                  
                                  </td>
                                </tr>
                  
                                <tr>
                                  <th id="fourthbandth" ><label for="id_fourthband">Tolerance:</label></th>
                                  <td id="fourthbandtd">
                  
                                    <select onchange="changeColor()" name="fourthband" id="id_fourthband">
                                <option value="Brown"
                                {% if band4brown %}
                                selected
                                {%endif%}>Brown      +-1%</option>
                  
                                <option value="Red"
                                {% if band4red %}
                                selected
                                {%endif%}>Red          +-2%</option>
                  
                                <option value="Green"
                                {% if band4green %}
                                selected
                                {%endif%}>Green     +-0.5%</option>
                  
                                <option value="Blue"
                                {% if band4blue %}
                                selected
                                {%endif%}>Blue        +-0.25%</option>
                  
                                <option value="Violet"
                                {% if band4violet%}
                                selected
                                {%endif%}>Violet    +-0.1%</option>
                  
                                <option value="Grey"
                                {% if band4grey %}
                                selected
                                {%endif%}>Grey        +-0.05%</option>
                  
                                <option value="Gold"
                                {% if band4gold %}
                                selected
                                {%endif%}>Gold        +-5%</option>
                  
                                <option value="Silver"
                                {% if band4silver %}
                                selected
                                {%endif%}>Silver    +-10%</option>
                  
                              </select>
                  
                  
                  
                  
                                  </td>
                                </tr>
                                <tr>
                                  <th><label for="id_resistancevalue">Resistance Value:</label></th>
                                  <td>
                  
                                    <input type="text" name="resistancevalue" value="{{calculated}}" maxlength="100" required id="id_resistancevalue">
                  
                  
                  
                  
                  
                  </form>
                  </td>
                  </tr>
                    </table>
                  </p>
              </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">
                    {% autoescape off %}

  <div class="container">
      <img border = 0 src="{% static resistor4band_image %}" alt='{{ band.alt }}'>
      <img id="image2" src="{% static band1  %}"  alt='{{ band1 }}'  class="image2">
      <img id="image3" src="{% static band2  %}"  alt='{{ band2 }}'  class="image3">
      <img id="image4" src="{% static band3  %}"  alt='{{ band3 }}'  class="image4">
      <img id="image5" src="{% static band4  %}"  alt='{{ band4 }}'  class="image5">


  </div>

  {% endautoescape %}
              </div>
          </div>
      </div>
  </div>



<!--Javascript code goes here-->

{% endblock %}

{% block footer %}
  <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto text-center mt-1">
              &nbsp;
          </div>
        </div>
        
        <div class="row">
          <div class="col-8 mx-auto text-center mt-1">
              <p class="mb-0 text-secondary">
                  &copy2024 FreeSmartphoneApps.com
              </p>
          </div>
        </div>
      </div>
  </footer>
  {% endblock %}

  {% block script %}
  <script nonce="{{ request.csp_nonce }}">
    //get image elements
    band_01=document.getElementById("image2")
    band_02=document.getElementById("image3")
    band_03=document.getElementById("image4")
    band_04=document.getElementById("image5")
    
    // add event handlers for a selection change(onchange) event changeColor
    document.getElementById("id_firstband").onchange=changeColor
    document.getElementById("id_secondband").onchange=changeColor
    document.getElementById("id_thirdband").onchange=changeColor
    document.getElementById("id_fourthband").onchange=changeColor
    
    //get text element id_resistancevalue
    resistance_text_element=document.getElementById("id_resistancevalue")
    resistance_text_element.value="10Ω"
    
    
    //declare variables for calcultions
    band1str="0"
    band2str="0"
    band3float="1"
    
    ohms="Ω"
    
    resistance="11"
    calculated='11 x1Ω'
    
    
    band_01.src="{% static 'rcb/images/fourbands/firstband/brown_firstband_mod4.png' %}"
    /*document.getElementById("id_secondband").value=
    document.getElementById("id_thirdband").value=
    document.getElementById("id_fourthband").value=*/
    
    
    
    function changeColor() {
    
      band_01_select_value = document.getElementById("id_firstband").value;
      band_02_select_value = document.getElementById("id_secondband").value;
      band_03_select_value = document.getElementById("id_thirdband").value;
      band_04_select_value = document.getElementById("id_fourthband").value;
    
      //document.getElementById("demo").innerHTML = "You selected: "+band_04_select_value;
    
    
      switch(band_01_select_value){
        case "Black":
          band_01.src="{% static 'rcb/images/fourbands/firstband/black_firstband_mod4.png' %}"
          band1str="0"
          break
        case "Brown":
          band_01.src="{% static 'rcb/images/fourbands/firstband/brown_firstband_mod4.png' %}"
          band1str="1"
          break
        case "Red":
          band_01.src="{% static 'rcb/images/fourbands/firstband/red_firstband_mod4.png' %}"
          band1str="2"
          break
        case "Orange":
          band_01.src="{% static 'rcb/images/fourbands/firstband/orange_firstband_mod4.png' %}"
          band1str="3"
          break
        case "Yellow":
          band_01.src="{% static 'rcb/images/fourbands/firstband/yellow_firstband_mod4.png' %}"
          band1str="4"
          break
        case "Green":
          band_01.src="{% static 'rcb/images/fourbands/firstband/green_firstband_mod5.png' %}"
          band1str="5"
          break
        case "Blue":
          band_01.src="{% static 'rcb/images/fourbands/firstband/blue_firstband_mod4.png' %}"
          band1str="6"
          break
        case "Violet":
          band_01.src="{% static 'rcb/images/fourbands/firstband/violet_firstband_mod4.png' %}"
          band1str="7"
          break
        case "Grey":
          band_01.src="{% static 'rcb/images/fourbands/firstband/grey_firstband_mod4.png' %}"
          band1str="8"
          break
        case "White":
          band_01.src="{% static 'rcb/images/fourbands/firstband/white_firstband_mod4.png' %}"
          band1str="9"
          break
      }
    
      switch(band_02_select_value){
        case "Black":
          band_02.src="{% static 'rcb/images/fourbands/secondband/black_secondband_mod4.png' %}"
          band2str="0"
          break
        case "Brown":
          band_02.src="{% static 'rcb/images/fourbands/secondband/brown_secondband_mod4.png' %}"
          band2str="1"
          break
        case "Red":
          band_02.src="{% static 'rcb/images/fourbands/secondband/red_secondband_mod4.png' %}"
          band2str="2"
          break
        case "Orange":
          band_02.src="{% static 'rcb/images/fourbands/secondband/orange_secondband_mod4.png' %}"
          band2str="3"
          break
        case "Yellow":
          band_02.src="{% static 'rcb/images/fourbands/secondband/yellow_secondband_mod4.png' %}"
          band2str="4"
          break
        case "Green":
          band_02.src="{% static 'rcb/images/fourbands/secondband/green_secondband_mod5.png' %}"
          band2str="5"
          break
        case "Blue":
          band_02.src="{% static 'rcb/images/fourbands/secondband/blue_secondband_mod4.png' %}"
          band2str="6"
          break
        case "Violet":
          band_02.src="{% static 'rcb/images/fourbands/secondband/violet_secondband_mod4.png' %}"
          band2str="7"
          break
        case "Grey":
          band_02.src="{% static 'rcb/images/fourbands/secondband/grey_secondband_mod4.png' %}"
          band2str="8"
          break
        case "White":
          band_02.src="{% static 'rcb/images/fourbands/secondband/white_secondband_mod4.png' %}"
          band2str="9"
          break
      }
    
      switch(band_03_select_value){
        case "Black":
          band_03.src="{% static 'rcb/images/fourbands/thirdband/black_thirdband_mod4.png' %}"
          band3float=1
          ohms="Ω"
          break
        case "Brown":
          band_03.src="{% static 'rcb/images/fourbands/thirdband/brown_thirdband_mod4.png' %}"
          band3float=10
          ohms="0Ω"
          break
        case "Red":
          band_03.src="{% static 'rcb/images/fourbands/thirdband/red_thirdband_mod4.png' %}"
          band3float=100
          ohms="00Ω"
          break
        case "Orange":
          band_03.src="{% static 'rcb/images/fourbands/thirdband/orange_thirdband_mod4.png' %}"
          band3float=1000
          ohms="kΩ"
          break
        case "Yellow":
          band_03.src="{% static 'rcb/images/fourbands/thirdband/yellow_thirdband_mod7.png' %}"
          band3float=10000
          ohms="0kΩ"
          break
        case "Green":
          band_03.src="{% static 'rcb/images/fourbands/thirdband/green_thirdband_mod4.png' %}"
          band3float=100000
          ohms="00kΩ"
          break
        case "Blue":
          band_03.src="{% static 'rcb/images/fourbands/thirdband/blue_thirdband_mod4.png' %}"
          band3float=1000000
          ohms="MΩ"
          break
        case "Violet":
          band_03.src="{% static 'rcb/images/fourbands/thirdband/violet_thirdband_mod4.png' %}"
          band3float=10000000
          ohms="0MΩ"
          break
        case "Grey":
          band_03.src="{% static 'rcb/images/fourbands/thirdband/grey_thirdband_mod4.png' %}"
          band3float=100000000
          ohms="00MΩ"
          break
        case "White":
          band_03.src="{% static 'rcb/images/fourbands/thirdband/white_thirdband_mod4.png' %}"
          band3float=1000000000
          ohms="GΩ"
          break
        case "Gold":
          band_03.src="{% static 'rcb/images/fourbands/thirdband/gold_thirdband_mod4.png' %}"
          band3float=.1
          ohms="Ω"
          break
        case "Silver":
          band_03.src="{% static 'rcb/images/fourbands/thirdband/silver_thirdband_mod4.png' %}"
          band3float=.01
          ohms="Ω"
          break
      }
    
      switch(band_04_select_value){
        case "Brown":
          band_04.src="{% static 'rcb/images/fourbands/fourthband/brown_mod4.png' %}"
          break
        case "Red":
          band_04.src="{% static 'rcb/images/fourbands/fourthband/red_mod4.png' %}"
          break
        case "Green":
          band_04.src="{% static 'rcb/images/fourbands/fourthband/green_mod4.png' %}"
          break
        case "Blue":
          band_04.src="{% static 'rcb/images/fourbands/fourthband/blue_mod4.png' %}"
          break
        case "Violet":
          band_04.src="{% static 'rcb/images/fourbands/fourthband/violet_mod4.png' %}"
          break
        case "Grey":
          band_04.src="{% static 'rcb/images/fourbands/fourthband/grey_mod4.png' %}"
          break
        case "Gold":
          band_04.src="{% static 'rcb/images/fourbands/fourthband/gold_mod4.png' %}"
          break
        case "Silver":
          band_04.src="{% static 'rcb/images/fourbands/fourthband/silver_mod4.png' %}"
          break
      }
    
      if(band_03_select_value=="Gold" || band_03_select_value=="Silver") {
        str=band1str+band2str
    
        calculated=(parseInt(str)*band3float).toString()+ohms
        resistance_text_element.value=calculated
      }
    
      else{
        str=band1str+band2str
        //num1=parseInt(str)
        //calculated=(num1+num2).toString()
    
        calculated=parseInt(str).toString()+ohms
        if (calculated=="1000Ω"){ calculated = "1kΩ" }
        if (calculated=="1000kΩ"){ calculated="1MΩ" }
        if (calculated=="1000MΩ"){ calculated="1GΩ" }
        resistance_text_element.value=calculated
    
    
      }
    
    
    
    
    
    }
    
    
    </script>
  {% endblock %}