{%  load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Resistor Color Bands</title>


<link href="{% static 'rcb/css/main_ch08.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'rcb/css/rcb.css' %}">

</head>
<body>
    <form action="" enctype ='multipart/form-data' method = "post" novalidate>
        {% csrf_token %}
        <table>
            <tr>
                <th><label for="id_firstband">First Band:</label></th>
                <td>

                  <select name="firstband" id="id_firstband">

              <option value="Black"
              {% if band1black %}
              selected
              {%endif%}>Black      0</option>

              <option value="Brown"
              {% if band1brown %}
              selected
              {%endif%}>Brown      1</option>

              <option value="Red"
              {% if band1red %}
              selected
              {%endif%}>Red          2</option>

              <option value="Orange"
              {% if band1orange %}
              selected
              {%endif%}>Orange    3</option>

              <option value="Yellow"
              {% if band1yellow %}
              selected
              {%endif%}>Yellow    4</option>

              <option value="Green"
              {% if band1green %}
              selected
              {%endif%}>Green      5</option>

              <option value="Blue"
              {% if band1blue%}
              selected
              {%endif%}>Blue        6</option>

              <option value="Violet"
              {% if band1violet %}
              selected
              {%endif%}>Violet    7</option>

              <option value="Grey"
              {% if band1grey %}
              selected
              {%endif%}>Grey        8</option>

              <option value="White"
              {% if band1white%}
              selected
              {%endif%}>White      9</option>

            </select>


                </td>
              </tr>

              <tr>
                <th><label for="id_secondband">Second Band:</label></th>
                <td>

                  <select name="secondband" id="id_secondband">
              <option value="Black"
              {% if band2black %}
              selected
              {%endif%}>Black      0</option>

              <option value="Brown"
              {% if band2brown %}
              selected
              {%endif%}>Brown      1</option>

              <option value="Red"
              {% if band2red %}
              selected
              {%endif%}>Red          2</option>

              <option value="Orange"
              {% if band2orange %}
              selected
              {%endif%}>Orange    3</option>

              <option value="Yellow"
              {% if band2yellow %}
              selected
              {%endif%}>Yellow    4</option>

              <option value="Green"
              {% if band2green %}
              selected
              {%endif%}>Green      5</option>

              <option value="Blue"
              {% if band2blue %}
              selected
              {%endif%}>Blue        6</option>

              <option value="Violet"
              {% if band2violet %}
              selected
              {%endif%}>Violet    7</option>

              <option value="Grey"
              {% if band2grey %}
              selected
              {%endif%}>Grey        8</option>

              <option value="White"
              {% if band2white %}
              selected
              {%endif%}>White      9</option>

            </select>


                </td>
              </tr>

              <tr>
                <th><label for="id_thirdband">Multiplier:</label></th>
                <td>

                  <select name="thirdband" id="id_thirdband">
              <option value="Black"
              {% if band3black %}
              selected
              {%endif%}>Black      x1Ω</option>

              <option value="Brown"
              {% if band3brown %}
              selected
              {%endif%}>Brown      x10Ω</option>

              <option value="Red"
              {% if band3red %}
              selected
              {%endif%}>Red          x100Ω</option>

              <option value="Orange"
              {% if band3orange %}
              selected
              {%endif%}>Orange    x1kΩ</option>

              <option value="Yellow"
              {% if band3yellow %}
              selected
              {%endif%}>Yellow    x10kΩ</option>

              <option value="Green"
              {% if band3green %}
              selected
              {%endif%}>Green      x100kΩ</option>

              <option value="Blue"
              {% if band3blue %}
              selected
              {%endif%}>Blue        x1MΩ</option>

              <option value="Violet"
              {% if band3violet %}
              selected
              {%endif%}>Violet    x10MΩ</option>

              <option value="Grey"
              {% if band3grey %}
              selected
              {%endif%}>Grey        x100MΩ</option>

              <option value="White"
              {% if band3white%}
              selected
              {%endif%}>White      x1GΩ</option>

              <option value="Gold"
              {% if band3gold%}
              selected
              {%endif%}>Gold      x0.1Ω</option>

              <option value="Silver"
              {% if band3silver%}
              selected
              {%endif%}>Silver      x.01Ω</option>

            </select>


                </td>
              </tr>

              <tr>
                <th><label for="id_fourthband">Tolerance:</label></th>
                <td>

                  <select name="fourthband" id="id_fourthband">
              <option value="Brown"
              {% if band4brown %}
              selected
              {%endif%}>Brown      +-1%</option>

              <option value="Red"
              {% if band4red %}
              selected
              {%endif%}>Red          +-2%</option>

              <option value="Green"
              {% if band4green %}
              selected
              {%endif%}>Green     +-0.5%</option>

              <option value="Blue"
              {% if band4blue %}
              selected
              {%endif%}>Blue        +-0.25%</option>

              <option value="Violet"
              {% if band4violet%}
              selected
              {%endif%}>Violet    +-0.1%</option>

              <option value="Grey"
              {% if band4grey %}
              selected
              {%endif%}>Grey        +-0.05%</option>

              <option value="Gold"
              {% if band4gold %}
              selected
              {%endif%}>Gold        +-5%</option>

              <option value="Silver"
              {% if band4silver %}
              selected
              {%endif%}>Silver    +-10%</option>

            </select>




                </td>
              </tr>
              <tr>
                <th><label for="id_resistancevalue">Resistance Value:</label></th>
                <td>

                  <input type="text" name="resistancevalue" value="{{calculated}}" maxlength="100" required id="id_resistancevalue">




                </td>
              </tr>




            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="submit"></td>




            </tr>
        </table>


    </form>

    {% autoescape off %}
    <div class="container">
        <img src="{% static resistor4band_image %}" alt='{{ band.alt }}'>
        <img src="{% static band1  %}"  alt='{{ band1 }}'  class="image2" >
        <img src="{% static band2  %}"  alt='{{ band2 }}'  class="image3" >
        <img src="{% static band3  %}"  alt='{{ band3 }}'  class="image4" id="image4">
        <img src="{% static band4  %}"  alt='{{ band4 }}'  class="image5" id="image5">

        <a class ="nav" href="/">Home</a>
        <a class ="nav2" href="https://github.com/alfloyd71/ResistorColorBands">GitHub Repository</a>
    </div>
    {% endautoescape %}

    <p>
        <strong>Page last updated:    {{last_updated}}</strong>
        </p>


        <script data-band4pos="{{ band3pos }}">
            const data = document.currentScript.dataset;
            const band4pos = data.band4pos;

            const image4elem = document.getElementById("image4");

        </script>

</body>

</html>
